*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    padding: 10px;
}
h4{
    background-color: blue;
    padding: 10px;
    margin-bottom: 10px;
}
h4:hover{
    background-color: lightblue;
}
p{
    background-color: beige;
    padding: 10px;
}

